* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

nav {
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 100px;
    padding: 24px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 24px;
    font-weight: 100;
    flex-shrink: 0;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    color: white;
    background-color: brown;
    display: flex;
    padding: 100px 200px 150px;
    gap: 64px;
    align-items: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

button {
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    border-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.hokages {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: green;
    padding: 24px 200px 100px;
    gap: 32px;
}

.hokages h2 {
    font-size: 36px;
    font-weight: 900;
}

.hokages-info {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 40px;
}

.hokage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    text-align: center;
    gap: 8px;
}

.hokages img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 6px solid brown;
    border-radius: 16px;
}
